name: loki

services:
  loki:
    image: grafana/loki:3.5.9
    container_name: loki
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
      - loki-data:/loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yaml
    networks:
      - loki

  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy
    volumes:
      - ./alloy-config.alloy:/etc/alloy/config.alloy
      - ../../logs:/logs
      - alloy-data:/var/lib/alloy/data
    ports:
      - "12345:12345"
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    networks:
      - loki

  grafana:
    image: grafana/grafana:12.2.2
    container_name: grafana
    environment:
      - GF_PATHS_DATA=/var/lib/grafana
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy 
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh
    networks:
      - loki

networks:
  loki:

volumes:
  loki-data:
  alloy-data:
  grafana-data: